body {
    margin: 0;
    background-color: black;
}
.settings {
    width: 300px;
    margin: 0 auto;
}
.input__name{
    color: #fff;
    font-size: 17px;
    font-family: sans-serif;
    text-align: center;
}
input {
    width: 200px;
    height: 30px;
    display: block;
    margin: 0 auto;
}
.cone {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
}

button {
    display: block;
    margin: 0 auto;
    width: 170px;
    height: 40px;
    font-size: 17px;
    font-family: sans-serif;
    margin-top: 15px;
    border: 1px solid #FFF;
    background-color: #000000;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}